@model DepartmentViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1> Are you sure to Delete this Department</h1>

<form asp-action="Delete">
    <div asp-validation-summary="ModelOnly"></div>

        <partial name="PartialViews/_DeleteDetailsPartialViews" />
    @* <div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit </a>
    <a asp-action="Index" class=" btn btn-light"> Back To List </a>

    </div>*@
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-secondary">  Cancel </a>
</form>

   