@model UsersViewModel

<div class="form-group ">
    <label class="col-form-label" asp-for="Fname"></label>
    <input asp-for="Fname" class="form-control" />
    <span asp-validation-for="Fname" class="text-danger"></span>
</div>

<div class="form-group ">
    <label class="col-form-label" asp-for="Lname"></label>
    <input asp-for="Lname" class="form-control" />
    <span asp-validation-for="Lname" class="text-danger"></span>
</div>

<div class="form-group ">
    <label class="col-form-label" asp-for="Phonenumber"></label>
    <input asp-for="Phonenumber" class="form-control" />
    <span asp-validation-for="Phonenumber" class="text-danger"></span>
</div>