@model UsersViewModel


<div class="form-group ">
    <label class="col-form-label" asp-for="Id"></label>
    <input asp-for="Id" class="form-control" readonly />
</div>

<div class="form-group ">
    <label class="col-form-label" asp-for="Fname"></label>
    <input asp-for="Fname" class="form-control" readonly />
</div>

<div class="form-group ">
    <label class="col-form-label" asp-for="Lname"></label>
    <input asp-for="Lname" class="form-control" readonly />
</div>

<div class="form-group ">
    <label class="col-form-label" asp-for="Email"></label>
    <input asp-for="Email" class="form-control" readonly />
</div>

<div class="form-group ">
    <label class="col-form-label" asp-for="Phonenumber"></label>
    <input asp-for="Phonenumber" class="form-control" readonly />
</div>